<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome Home Page</title>
<!-- Bootstrap Core CSS -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/vendor/bootstrap/css/font-awesome.min.css" />
<link rel="stylesheet" href="/vendor/bootstrap/css/user.css" />
</head>
<body>
	<h1>Book List Inquiry!!</h1>
	<table border=1>
		<tr th:each="book: ${books}">
			<td th:text="${book.id}" />
			<td th:text="${book.name}" />
			<td th:text="${book.createdDate}" />
			<td th:text="${book.bookCategory.categoryName}" />
		</tr>
	</table>
	<p>
	<h1>Book Category List Inquiry!!</h1>
	<table border=1>
		<tr th:each="bookCategory: ${bookCategories}">
			<td th:text="${bookCategory.id}" />
			<td th:text="${bookCategory.categoryName}" />
		</tr>
	</table>
	<p>
	
	
	
	<form action="#" th:action="@{/addNewBookCategory}" th:object="${bookCategoryAdded}" method="post">
		<table border="1">
			<tr>
				<td><label>Book Category Name</label></td>
				<td><input type="text" th:field="${bookCategoryAdded.categoryName}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		<!-- <p th:each="smokeTest : ${smokeTests}" th:text="${smokeTest.name}">A Smoke Test</p> -->
	</form>
	<p>
	
	
	
	
	<form action="#" th:action="@{/addNewBook}" th:object="${bookAdded}" method="post">
		<table border="1">
			<tr>
				<td><label>Book Name</label></td>
				<td><input type="text" th:field="${bookAdded.name}" /></td>
			</tr>
			<tr>
				<td><label>Category</label></td>
				<td><input type="text" th:field="${bookAdded.bookCategory.categoryName}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		<!-- <p th:each="smokeTest : ${smokeTests}" th:text="${smokeTest.name}">A Smoke Test</p> -->
	</form>
	<!-- jQuery -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>